/**************************
/***	CSS-Stylesheet	***
**************************/

/********************************************/
/* HTML-Elemente */
/********************************************/

body {
	/*Farben*/
	background-image: url(../img/background.png); 
	color: #000000;
	
	/*Text-Formatierung*/
	font-family: Arial,sans-serif; 
	font-size: 100,01%; 
	font-weight: normal;
	
	/*Größe und Position und Rahmen*/
	width: 100%;
	margin: 0;
	padding: 0;
	position:absolute;
}

div {

}

p {
	padding: 0;
	margin: 0;
}

table {
	width: 100%;
}

th {

}

td {

}

img {
	border: none;
}
			
a {
	color: #DBDBDB;
	text-decoration: none;
}
			
a:hover	{
	text-decoration: none;
	color:#75CD00;
}


/********************************************/
/* HTML-ID */
/********************************************/

#outer-header{
	margin: 0;
	padding: 0;
	background-color:#FFFFFF;
	position:fixed;
	z-index:500;
	width: 100%;
	opacity: 0.95;
	border-top:0.2em solid #75CD00;
}

#inner-header{
	margin: 0 auto 0 auto;
	max-width: 60em;
	min-width: 21em;
	position:relative;
	padding:0;
}

#logo{
	margin: 0;
	line-height: 2em;
	font-size: 2em; 
	width: 3.5em;
	text-align:center;
	color: #75CD00;
	font-weight: normal;
	display: inline;
	position:relative;
	float:left;
	border-right: 1px solid #343434;
}

#search {
	/*Farben*/
	
	/*Text-Formatierung*/
	
	/*Größe und Position und Rahmen*/
	float: right;
	line-height:4em;
	border-left: 1px solid #343434;
}

div#content-limiter {
	/*Farben*/
	
	/*Text-Formatierung*/
	
	/*Größe und Position und Rahmen*/
	max-width: 60em;
	min-width: 21em;
	clear: both;
	margin: 6em auto 2em auto;
	position:relative;
}

div#footer {
	/*Farben*/
	background-color: #343434;
	color: #DBDBDB;
	
	/*Text-Formatierung*/
	text-align:center;
	
	/*Größe und Position und Rahmen*/
	clear: both;
	margin: 2em auto 0 auto;
	padding: 1em;
}



/********************************************/
/* HTML-Klassen */
/********************************************/

menu.navigation {
	/*Farben*/
	
	/*Text-Formatierung*/
	list-style-type: none;
	
	/*Größe und Position und Rahmen*/
	margin: 0;
	padding: 0;
	position:relative;
}

menu.navigation li {
	/*Farben*/
	background-color: #FFFFFF;
	color: #343434;
	
	/*Text-Formatierung*/
	font-size: 1em;
	text-align: center;
	line-height: 4em;
	
	/*Größe und Position und Rahmen*/
	margin: 0;
	padding:0;
	width: 7em;
	display: inline-block;
	float:left;
	border-right: 1px solid #343434;
}

menu.navigation li:hover {
	/*Farben*/
	color: #000000;
	/*Text-Formatierung*/
	
	/*Größe und Position und Rahmen*/
	box-shadow:inset 0 0.8em 1em -0.5em #75CD00;
	cursor: pointer;
}

input.search {
	height: 2em;
	vertical-align: middle;	
	padding: 0.5em 1em 0.5em 1em;
	margin: 0;
	border:0;
	text-align:center;
}

.content-item {
	/*Farben*/
	background-color: #343434;
	color: #DBDBDB;
	
	/*Text-Formatierung*/
	
	
	/*Größe und Position und Rahmen*/
	margin: 2em auto 0 auto;
	padding: 1em;
}

.content-head {
	/*Farben*/
	
	/*Text-Formatierung*/
	
	/*Größe und Position und Rahmen*/
}

.content-title {
	/*Farben*/
	color: #75CD00;
	
	/*Text-Formatierung*/
	font-size: 2em;
	
	/*Größe und Position und Rahmen*/
	position: relative;	
	margin: 0;
}

.content-creator {
	/*Farben*/
	
	/*Text-Formatierung*/
	
	/*Größe und Position und Rahmen*/
	position: relative;	
	float:right;
	padding: 0.8em 0 0 5em;
}

menu.content-menu {
	/*Farben*/
	
	/*Text-Formatierung*/
	list-style-type: none;
	
	/*Größe und Position und Rahmen*/
	float:right;
	padding: 0;
	margin: -1em -1em 0 0;

}

menu.content-menu li {
	/*Farben*/
	background-color: #343434;
	
	/*Text-Formatierung*/
	text-align: center;´
	line-height: 1em;
	
	/*Größe und Position und Rahmen*/
	margin: 0;
	padding:0;
	display: block;
	border: none;
	float:right;
}

.save {
	/*Farben*/
	color: #75CD00;
	/*Text-Formatierung*/
	font-family: Webdings;
	font-size: 3em;
	/*Größe und Position und Rahmen*/
	width: 1em;
}

.delete {
	/*Farben*/
	color: #CD0000;
	/*Text-Formatierung*/
	font-family: verdana;
	font-weight:bold;
	font-size:2.3em;
	/*Größe und Position und Rahmen*/
	width: 1.3em;
}

.save:hover {
	/*Farben*/

	/*Text-Formatierung*/
	
	/*Größe und Position und Rahmen*/
	box-shadow:inset 0 0.5em 0.5em -0.5em #75CD00;
	cursor: pointer;
}

.delete:hover {
	/*Farben*/

	/*Text-Formatierung*/
	
	/*Größe und Position und Rahmen*/
	box-shadow:inset 0 0.58em 0.5em -0.5em #CD0000;
	cursor: pointer;
}

.content-area {
	/*Farben*/
	background-color: #343434;
	color: #DBDBDB;
	
	/*Text-Formatierung*/
	
	
	/*Größe und Position und Rahmen*/
	margin: 1em 0 0 0;
	position:relative;
	clear:both;
}

span.form-title {
	/*Farben*/
	
	/*Text-Formatierung*/
	font-size: 1.2em;
	
	/*Größe und Position und Rahmen*/
	width: 5em;
	margin: 0 0 0.8em 0;
	display:inline-block;
	
}

input.event-formfield {
	/*Farben*/
	color: #DBDBDB;
	background-color: #343434;
	
	/*Text-Formatierung*/
	font-family: Arial,sans-serif;
	font-size: 1.2em;
	
	/*Größe und Position und Rahmen*/
	width: 20em;
	border: none;
}

.hint {
	/*Farben*/
	color: #CD0000;
	
	/*Text-Formatierung*/
	
	/*Größe und Position und Rahmen*/
	display: inline;
}

.hint-sign {
	/*Farben*/
	
	/*Text-Formatierung*/
	font-family: 'Wingdings 3';
	/*Größe und Position und Rahmen*/
	margin: 0.5em;
}

textarea.event-formfield {
	/*Farben*/
	color: #DBDBDB;
	background-color: #343434;
	
	/*Text-Formatierung*/
	font-family: Arial,sans-serif; 
	
	/*Größe und Position und Rahmen*/
	width:100%;
	border: none;
	resize: none;
	overflow: auto;
	margin: 0 0 2em 0;
}

.list{
	/*Farben*/
	color: #75CD00;
	
	/*Text-Formatierung*/
	font-size: 1.2em;
	
	/*Größe und Position und Rahmen*/
	width: 5em;
	margin: 0 0 0.8em 0;
}


form.item {
	/*Farben*/
	
	
	/*Text-Formatierung*/
	
	
	/*Größe und Position und Rahmen*/

}

input.item_title {
	/*Farben*/
	color: #DBDBDB;
	background-color: #343434;
	
	/*Text-Formatierung*/
	font-size: 1.2em;
	
	/*Größe und Position und Rahmen*/
	padding: 0;
	margin: 0 0.8em 0.4em 0;
	position: relative;
	border: none;
	width:12em;
	clear:right;
}

input.item_qty {
	/*Farben*/
	color: #DBDBDB;
	background-color: #343434;
	
	/*Text-Formatierung*/
	font-size: 1.2em;
	text-align:right;
	
	/*Größe und Position und Rahmen*/
	padding: 0;
	margin: 0 1em 0 0;
	border:0;
	border: none;
	width:1.2em;
}

textarea.item_note {
	/*Farben*/
	color: #DBDBDB;
	background-color: #343434;
	
	/*Text-Formatierung*/
	font-family: Arial,sans-serif; 
	
	/*Größe und Position und Rahmen*/
	width:calc(100% - 22em);
	height:3.7em;
	padding: 0;
	margin:0 auto 0 0;
	border:none;
	float:right;
	resize:none;
}

input.contribute_name {
	/*Farben*/
	color: #DBDBDB;
	background-color: #343434;
	
	/*Text-Formatierung*/
	font-size: 1em;
	text-align:left;
	
	/*Größe und Position und Rahmen*/
	padding: 0;
	margin: 0 1em 0.5em 1em;
	border:0;
	position: relative;
	border: none;
	width: 13.44em;
}

input.contribute_qty {
	/*Farben*/
	color: #DBDBDB;
	background-color: #343434;
	
	/*Text-Formatierung*/
	font-size: 1em;
	text-align:right;
	
	/*Größe und Position und Rahmen*/
	padding: 0;
	margin: 0 0.5em 0 0;
	border:0;
	border: none;
	width:1.4em;
}


input.event-formfield:hover, 
input.event-formfield:focus, 
textarea.event-formfield:hover, 
textarea.event-formfield:focus, 
input.item_title:hover, 
input.item_title:focus, 
input.item_qty:hover, 
input.item_qty:focus, 
textarea.item_note:hover, 
textarea.item_note:focus, 
input.contribute_name:hover, 
input.contribute_name:focus, 
input.contribute_qty:hover, 
input.contribute_qty:focus {
	/*Farben*/
	background-color: #505050;
	
	/*Text-Formatierung*/
	
	/*Größe und Position und Rahmen*/
	
}

input.event-formfield-empty,
textarea.event-formfield-empty, 
input.item_title-empty, 
input.item_qty-empty, 
textarea.item_note-empty, 
input.contribute_name-empty, 
input.contribute_qty-empty {
	/*Farben*/
	background-color: #505050;
	
	/*Text-Formatierung*/
	
	/*Größe und Position und Rahmen*/
	
}

.list-entry {
	/*Farben*/
	
	/*Text-Formatierung*/
	cursor: pointer;
	
	/*Größe und Position und Rahmen*/

}

.list-entry-title {
	/*Farben*/
	color: #75CD00;
	
	/*Text-Formatierung*/
	font-size: 1.2em;
	
	/*Größe und Position und Rahmen*/
	margin: 1em 0 0 0;
}

.list-entry-item {
	/*Farben*/
	color: #75CD00;
	
	/*Text-Formatierung*/
	font-size: 1em;
	
	/*Größe und Position und Rahmen*/
	margin: 0 0 1em 0;
}

.list-entry-fact-date,
.list-entry-fact-location {
	/*Farben*/
	
	/*Text-Formatierung*/
	font-size: 1em;
	
	/*Größe und Position und Rahmen*/
	margin: 0 3em 1em 0;
}

.empty-required-field {
	/*Farben*/
	color: #DBDBDB;
	background-color: #343434;
	
	/*Text-Formatierung*/
	font-family: Arial,sans-serif;
	font-size: 1.2em;
	
	/*Größe und Position und Rahmen*/
	width: 20em;
	border: 1px solid #CD0000;
}

.template {
	display: none;
}
