/**************************
/***	CSS-Stylesheet	***
**************************/

/********************************************/
/* HTML-Elemente */
/********************************************/

body {
	/*Farben*/
	background-image: url(../img/background.png); 
	color: #000000;
	
	/*Text-Formatierung*/
	font-family: Arial,sans-serif; 
	font-size: 100,01%; 
	font-weight: normal;
	
	/*Größe und Position und Rahmen*/
	width: 100%;
	min-width: 61em;
	margin:0;
	padding: 0;
}

div {

}

table {
	width: 100%;
}

th {

}

td {

}

img {
	border: none;
}
			
a {
	color: #919191;
	text-decoration: none;
}
			
a:hover	{
	
	text-decoration: none;
}


/********************************************/
/* HTML-ID */
/********************************************/

#logo{
	margin: 0.2em 0 0 10em;
	font-size: 2em; 
	color: #75CD00;
	font-weight: normal;
	line-height: 1.7em;
}

menu#navigation {
	/*Farben*/
	
	/*Text-Formatierung*/
	font-size: 1.0em; 
	list-style-type: none;
	text-align: right;
	
	/*Größe und Position und Rahmen*/
	margin: 1.2em 5em 0em 0;
	padding: 0;
    border: 1px solid silver;
	float: right;
}

menu#navigation li {
	/*Farben*/
	background-color: #343434;
	color: #FFFFFF;
	
	/*Text-Formatierung*/
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	
	/*Größe und Position und Rahmen*/
	margin: 0.5em 0 0 1em;
	width: 5em;
	line-height: 1.7em;
	display: inline-block;
}

menu#navigation li:hover {
	/*Farben*/
	background-color: #75CD00;
	color: #002300;
	/*Text-Formatierung*/
	
	/*Größe und Position und Rahmen*/
}

#position {
	/*Farben*/
	background-color: #343434;
	color: #FFFFFF;
	
	/*Text-Formatierung*/
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.7em;
	text-align: center;
	
	/*Größe und Position und Rahmen*/
	margin: 2em 0 0 16.65em;
	padding: 0 1em 0 1em;
	border: 1px solid silver;
	float:left;
}

div#content {
	background-color: #343434;
	color: #DBDBDB;
	
	margin: 2em 20em 0 20em;
	border: 1px solid silver;
	clear: both;
	min-width: 21em;
}

div#footer {
	clear: both;
}

div#share {
	position:absolute;
}




/********************************************/
/* HTML-Klassen */
/********************************************/
